* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #242b35;
}

.container {
    display: block;
    cursor: crosshair;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130dvh;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 40px;
}

.text h1 {
    font-weight: 700;
    color: #fff;
}

.year {
    display: flex;
    font-family: "Lobster", sans-serif;
}

.dynamic {
    display: flex;
    flex-direction: column;
    color: rgb(255, 77, 77);
    height: 120px;
    /* overflow: hidden; */
    font-weight: 400;
}

.dynamic span {
    position: relative;
    font-family: "Lobster", sans-serif;
    top: 0;
}



@media (max-width: 450px) {
    .text {
        font-size: 20px;
        /* margin-top: -200px; */
    }

    .main {
        height: 100dvh;
    }
}